params {
    db = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Escherichia_coli_wgMLST"
    efsa = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Escherichia_coli_wgMLST_EFSA"
    schema_id = 1
    distance = 10
    analysis = "HC"
    reportree_options = "--HC-threshold single"
    filter = "${baseDir}/assets/filters/cgMLST_ecoli.txt"
    ref = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/005/845/GCF_000005845.2_ASM584v2/GCF_000005845.2_ASM584v2_genomic.fna.gz"
}