params {
    species = "Listeria monocytogenes"
    db = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Listeria_monocytogenes_cgMLST"
    efsa = null
    schema_id = 1
    filter = null
    distance = 7
    analysis = "grapetree"
    ref = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/014/987/905/GCF_014987905.1_ASM1498790v1/GCF_014987905.1_ASM1498790v1_genomic.fna.gz"
}