params {
    species = "Salmonella enterica"
    db = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Salmonella_enterica_wgMLST"
    efsa = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Salmonella_enterica_wgMLST_EFSA"
    schema_id = 1
    analysis = "grapetree"
    distance = 7
    filter = "${baseDir}/assets/filters/cgMLST_salmonella.txt"
    ref = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/006/945/GCF_000006945.2_ASM694v2/GCF_000006945.2_ASM694v2_genomic.fna.gz"
}