process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]

    withName: REPORTREE {
        ext.args = [ 
            "--loci-called 0.95",
            "--analysis grapetree",
            "--partitions2report ${params.partitions}"
        ].join(' ').strip()
        publishDir = [
            path: { "${params.outdir}/repotree" },
            mode: params.publish_dir_mode,
            enabled: true
        ] 
    }
    withName: MULTIQC {
        ext.prefix = "${params.run_name}_multiqc"
    }
    withName: CHEWBBACA_ALLELECALL {
        ext.args = "--st 0.2 --bsr 0.6"
        publishDir = [
            path: { "${params.outdir}/chewbbaca" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    withName: 'CHEWBBACA_DOWNLOADSCHEMA|CHEWBBACA_PREPEXTERNALSCHEMA' {
       publishDir = [
            path: { "${params.reference_base}/spread/${params.reference_version}/chewbbaca" },
            mode: params.publish_dir_mode,
            enabled: true
        ] 
    }
 
}
