params {

  references {

    ecoli {
      db = "${params.reference_base}/spread/${params.reference_version}/Escherichia_coli_cgmlst_ESFA"
      species_id = 5
      schema_id = 1
      filter = "${baseDir}/assets/filters/cgMLST_ecoli.txt"
    }
    salmonella {
      db = "${params.reference_base}/spread/${params.reference_version}/Salmonella_enterica_cgmlst_ESFA"
      species_id = 8
      schema_id = 1
      filter = "${baseDir}/assets/filters/cgMLST_salmonella.txt"
    }
    listeria {
      db = "${params.reference_base}/spread/${params.reference_version}/Listeria_monocytogenes"
      species_id = 6
      schema_id = 1
      filter = null
    }
    campylobacter {
      db = "${params.reference_base}/spread/${params.reference_version}/Campylobacter"
      species_id = 4
      schema_id = 1
      filter = null
    }

  }
  
}
