params {

  references {

    escherichia {
      species = "Escherichia coli"
      db = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Escherichia_coli_wgMLST"
      efsa = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Escherichia_coli_wgMLST_EFSA"
      schema_id = 1
      distance = 10
      filter = "${baseDir}/assets/filters/cgMLST_ecoli.txt"
      ref = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/005/845/GCF_000005845.2_ASM584v2/GCF_000005845.2_ASM584v2_genomic.fna.gz"
    }
    salmonella {
      species = "Salmonella enterica"
      db = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Salmonella_enterica_wgMLST"
      efsa = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Salmonella_enterica_wgMLST_EFSA"
      schema_id = 1
      distance = 7
      filter = "${baseDir}/assets/filters/cgMLST_salmonella.txt"
      ref = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/006/945/GCF_000006945.2_ASM694v2/GCF_000006945.2_ASM694v2_genomic.fna.gz"
    }
    listeria {
      species = "Listeria monocytogenes"
      db = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Listeria_monocytogenes_cgMLST"
      efsa = null
      schema_id = 1
      filter = null
      distance = 10
      ref = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/014/987/905/GCF_014987905.1_ASM1498790v1/GCF_014987905.1_ASM1498790v1_genomic.fna.gz"
    }
    campylobacter {
      species = "Campylobacter jejuni"
      db = "${params.reference_base}/bella/${params.reference_version}/chewbbaca/Campylobacter_jejuni_wgMLST"
      efsa = null
      schema_id = 1
      filter = null
      distance = 12
      ref = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/009/085/GCF_000009085.1_ASM908v1/GCF_000009085.1_ASM908v1_genomic.fna.gz"
    }

  }
  
}
