params {

    schemas {
        "escherichia" {
            config = "${baseDir}/conf/schemas/ecoli.config"
        }
        "salmonella" {
            config = "${baseDir}/conf/schemas/salmonella.config"
        }
        "listeria" {
            config = "${baseDir}/conf/schemas/listeria.config"
        }
        "campylobacter" {
            config = "${baseDir}/conf/schemas/campylobacter.config"
        }
    }
}