params {
    "escherichia" {
        config = "${baseDir}/conf/schemas/ecoli.config"
    }
    "salmonella" {
        config = "${baseDir}/conf/schemas/salmonella.config"
    }
    "listeria" {
        config = "${baseDir}/conf/schema/listeria.config"
    }
    "campylobacter" {
        config = "${baseDir}/conf/schema/campylobacter.config"
    }
}